.field {
  display: block;
  padding: var(--sz-1) var(--sz-3);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: var(--sz-8);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--sz-1);
}

.label {
  display: block;
  margin-bottom: var(--sz-2);
  font-size: 14px;
  color: var(--color-black);
}